.movieListRow {
  padding: 0px 48px 0px 30px;
  letter-spacing: 1px;
  h2 {
    text-transform: capitalize;
    padding: 10px 10px 10px 20px;
    font-size: 18px;
    color: white;
    font-weight: 400;
    margin-bottom: -15px;
  }
}
