.footer {
  border-top: 1px dotted #272727;
  color: grey;
  font-size: 12px;
  margin: 100px 50px 20px 50px;
  padding: 20px 20px 0px 10px;
  p {
    margin: 5px 0px;
  }
  .footer__sm {
    margin-bottom: 20px;
  }
  .footer__tmdbLogo {
    height: 30px;
  }
  .footer__smLogo {
    height: 40px;
    filter: grayscale(100%);
    margin-right: 10px;
    border-radius: 3px;
    &:hover {
      filter: none;
    }
  }
  .footer__ghLogo {
    height: 40px;
    background-color: #464646;
    margin-right: 10px;
    border-radius: 3px;
    &:hover {
      background-color: rgb(7, 95, 167);
    }
  }
  .footer__liLogo {
    height: 40px;
    filter: grayscale(100%);
    &:hover {
      filter: none;
    }
  }
}
