* {
  margin: 0;
}
body {
  background-color: #141414;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Segoe UI', helvetica;
  color: white;
}
body::-webkit-scrollbar {
  display: none;
}
button {
  border: 1px solid rgba(107, 107, 107, 0.7);
  outline: none;
  padding: 15px 50px;
  border-radius: 5px;
  margin: 15px 10px 0 0;
  cursor: pointer;
  background-color: rgba(24, 24, 24, 0.75);
  color: white;
  font-weight: 500;
  &:hover {
    color: #141414;
    background-color: #e6e6e6;
    transition: all 0.2s;
  }
}
