.nav {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;

  //Animation
  /* This timing applies on the way OUT */
  transition-timing-function: ease-in;

  /* Quick on the way out */
  transition: 0.5s;

  &.showNav {
    background-color: #090909;
  }
  & .nav__logo {
    position: fixed;
    top: 18px;
    left: 50px;
    width: 100px;
    object-fit: contain;
  }
  & .nav__avatar {
    position: fixed;
    right: 50px;
    top: 15px;
    width: 30px;
    object-fit: contain;
  }
}
